<%- include('./partials/head.ejs') %>
  <%- include('./partials/header.ejs') %>
    <script src='/campaignScript.js'></script>
    <script src='/searchBar.js'></script>
    <main>
      <button class="create_button" onclick="displayCreateCampaignModal()">Créer une nouvelle campagne</button>
      <input type="text" class="searchInput" placeholder="Filtrer..." onkeyup="filterSearchBar()">
      <div class="table_container">
        <table>
          <thead>
            <tr>
              <th>Id</th>
              <th>Nom</th>
              <th>Description</th>
              <th>Date de début</th>
              <th>Date de fin</th>
              <th>Emplacement</th>
              <th>Pays</th>
              <th>Arbres associés</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody class="treeTableBody">
            <% campaigns.forEach(campaign=> { %>
              <tr>
                <td>
                  <%= campaign.id %>
                </td>
                <td>
                  <%= campaign.name %>
                </td>
                <td>
                  <%= campaign.description %>
                </td>
                <td>
                  <%= new Date(campaign.start_campaign).toLocaleDateString('fr-FR') %>
                </td>
                <td>
                  <%= new Date(campaign.end_campaign).toLocaleDateString('fr-FR') %>
                </td>
                <td>
                  <%= campaign.location.name_location %>
                </td>
                <td>
                  <%= campaign.location.country.name %>
                </td>
                <td>
                  <ul>
                    <% campaign.treesCampaign.forEach(tree=> { %>
                      <li>
                        <%= tree.name %>
                      </li>
                      <% }) %>
                  </ul>
                </td>

                <td>
                  <button onclick="displayEditCampaignModal(
                
                `<%= campaign.id %>`,
                `<%= campaign.name %>`,
                `<%= campaign.description %>`,
                `<%= campaign.start_campaign %>`,
                `<%= campaign.end_campaign %>`,
                `<%= campaign.location.name_location %>`,
                `<%= campaign.location.country.name %>`,
                this.dataset.trees
              )" data-trees='<%= JSON.stringify(campaign.treesCampaign) %>'>Modifier</button>
                  <button onclick="displayDeleteCampaignModal('<%= campaign.id %>')">Supprimer</button>
                </td>
              </tr>

              <% }) %>

          </tbody>

        </table>
      </div>
      <%- include('./partials/modals-createCampaign.ejs') %>
        <%- include('./partials/modals-updateCampaign.ejs') %>
          <%- include('./partials/modals-deleteCampaign.ejs') %>
    </main>