<%- include('./partials/head.ejs') %>
  <%- include('./partials/header.ejs') %>
    <script src='/campaignScript.js'></script>
    <script src='/searchBar.js'></script>
    <main>
      <div class="searchAddBar">

        <button id="create_button-campaign" class="create_button button">Créer
          une nouvelle campagne</button>
        <input type="text" class="searchInput" placeholder="Filtrer..." onkeyup="filterSearchBar()">
      </div>
      <div class="table_container">
        <table>
          <thead>
            <tr>
              <th>Id</th>
              <th>Nom</th>
              <th>Description</th>
              <th>Date de début</th>
              <th>Date de fin</th>
              <th>Emplacement</th>
              <th>Pays</th>
              <th>Arbres associés</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% campaigns.forEach(campaign=> { %>
              <tr>
                <td>
                  <%= campaign.id %>
                </td>
                <td>
                  <%= campaign.name %>
                </td>
                <td>
                  <%= campaign.description %>
                </td>
                <td>
                  <%= new Date(campaign.start_campaign).toLocaleDateString('fr-FR') %>
                </td>
                <td>
                  <%= (campaign.end_campaign) ? new Date(campaign.end_campaign).toLocaleDateString('fr-FR') : "" %>

                </td>
                <td>
                  <%= campaign.location.name_location %>
                </td>
                <td>
                  <%= campaign.location.country.name %>
                </td>
                <td>
                  <ul>
                    <% campaign.treesCampaign.forEach(tree=> { %>
                      <li>
                        <%= tree.name %>
                      </li>
                      <% }) %>
                  </ul>
                </td>

                <td class="line-container-button">
                  <button id="edit-button-<%= campaign.id %>" class="button save" data-id="<%= campaign.id %>"
                    data-name="<%= campaign.name %>" data-description="<%= campaign.description %>"
                    data-start="<%= campaign.start_campaign %>" data-end="<%= campaign.end_campaign %>"
                    data-location="<%= campaign.location.name_location %>"
                    data-country="<%= campaign.location.country.name %>"
                    data-trees='<%= JSON.stringify(campaign.treesCampaign) %>'>
                    Modifier
                  </button>
                  <button id="delete-button-<%= campaign.id %>" class="delete button" data-id="<%= campaign.id %>">
                    Supprimer
                  </button>
                </td>
              </tr>

              <%- include('./partials/modals-updateCampaign.ejs', {campaign }) %>
                <%- include('./partials/modals-deleteCampaign.ejs') %>
                  <% }) %>

          </tbody>

        </table>
      </div>
      <%- include('./partials/modals-createCampaign.ejs') %>
    </main>


    <%- include('./partials/footer.ejs') %>