<%- include('./partials/head.ejs') %>
  <%- include('./partials/header.ejs') %>
    <script src='/campaignScript.js'></script>
    <script src='/searchBar.js'></script>

    <main>
      <div class="searchAddBar">
        <button data-action="displayCreateCampaignModal" class="create_button button">Créer
          une nouvelle campagne</button>
        <input type="text" class="searchInput" placeholder="Filtrer..." data-action="filterSearchBar">
      </div>
      <div class="table_container">
        <table>
          <thead>
            <tr>
              <th>Id</th>
              <th>Nom</th>
              <th>Description</th>
              <th>Date de début</th>
              <th>Date de fin</th>
              <th>Emplacement</th>
              <th>Pays</th>
              <th>Arbres associés</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% campaigns.forEach(campaign=> { %>
              <tr>
                <td>
                  <%= campaign.id %>
                </td>
                <td>
                  <%= campaign.name %>
                </td>
                <td>
                  <%= campaign.description %>
                </td>
                <td>
                  <%= new Date(campaign.start_campaign).toLocaleDateString('fr-FR') %>
                </td>
                <td>
                  <%= (campaign.end_campaign) ? new Date(campaign.end_campaign).toLocaleDateString('fr-FR') : "" %>

                </td>
                <td>
                  <%= campaign.location.name_location %>
                </td>
                <td>
                  <%= campaign.location.country.name %>
                </td>
                <td>
                  <ul>
                    <% campaign.treesCampaign.forEach(tree=> { %>
                      <li>
                        <%= tree.name %>
                      </li>
                      <% }) %>
                  </ul>
                </td>
                <td class="line-container-button">
                  <button class="button save" data-action="displayEditCampaignModal"
                    data-campaign-id="<%= campaign.id %>">Modifier</button>
                  <button data-campaign-id="<%= campaign.id %>" class="delete button"
                    data-action="displayDeleteCampaignModal">Supprimer</button>
                </td>
              </tr>

              <%- include('./partials/modals-updateCampaign.ejs', {campaign, trees }) %>
                <%- include('./partials/modals-deleteCampaign.ejs', {campaign} ) %>
                  <% }) %>

          </tbody>

        </table>
      </div>
      <%- include('./partials/modals-createCampaign.ejs') %>
    </main>


    <%- include('./partials/footer.ejs') %>