<%- include('./partials/head.ejs') %>
  <%- include('./partials/header.ejs') %>
    <script src='/searchBar.js'></script>

    <main>
      <input type="text" class="searchInput" placeholder="Filtrer..." onkeyup="filterSearchBar()">
      <div class="table_container">
        <table>
          <thead>
            <tr>
              <th>Id</th>
              <th>Avis</th>
              <th>Note</th>
              <th>Utilisateur</th>
              <th>Email</th>
              <th>Date</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody class="treeTableBody">
            <% reviews.forEach(review=> { %>
              <tr>
                <td>
                  <%= review.id %>
                </td>
                <td>
                  <%= review.content %>
                </td>
                <td>
                  <%= review.rating %>
                </td>
                <td>
                  <%= review.user.firstname + ' ' + review.user.lastname %>
                </td>
                <td>
                  <%= review.user.email %>
                </td>
                <td>
                  <%= new Date(review.created_at).toLocaleDateString('fr-FR') %>
                </td>
                <td>
                  <button>Modifier</button>
                  <button>Supprimer</button>
                </td>
              </tr>
              <% }) %>
          </tbody>
        </table>
      </div>
    </main>
    <%- include('./partials/footer.ejs') %>