<%- include('./partials/head.ejs') %>
  <%- include('./partials/header.ejs') %>
    <script src="/treesScript.js"></script>
    <main>
      <button class="create_button" onclick="displayCreateTreeModal()">Ajouter un nouvel arbre</button>
      <div class="table_container">
        <table>
          <thead>
            <tr>
              <th>Id</th>
              <th>Nom</th>
              <th>Prix HT</th>
              <th>Quantité</th>
              <th>Age (années)</th>
              <th>Espèce</th>
              <th>Description</th>
              <th>Absorption de CO2</th>
              <th>Durée de vie moyenne</th>
              <th>Campagne(s) associée(s)</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% trees.forEach(tree=> { %>
              <tr>
                <td>
                  <%= tree.id %>
                </td>
                <td>
                  <%= tree.name %>
                </td>
                <td>
                  <%= tree.price_ht %>
                </td>
                <td>
                  <%= tree.quantity %>
                </td>
                <td>
                  <%= tree.age %>
                </td>
                <td>
                  <%= tree.species.species_name %>
                </td>
                <td>
                  <%= tree.species.description %>
                </td>
                <td>
                  <%= tree.species.co2_absorption %>
                </td>
                <td>
                  <%= tree.species.average_lifespan%>
                </td>
                <td>
                  <ul>
                    <% tree.campaignTree.forEach(campaign=> { %>
                      <li>
                        <%= campaign.name %>
                      </li>
                      <% }) %>
                </td>

                <td>
                  <button onclick="displayEditTreeModal(
                    `<%= tree.id %>`,
                    `<%= tree.name %>`,
                    `<%= tree.price_ht %>`,
                    `<%= tree.quantity %>`,
                    `<%= tree.age %>`,
                    `<%= tree.species.species_name %>`,
                    `<%= tree.species.description %>`,
                    `<%= tree.species.co2_absorption %>`,
                    `<%= tree.species.average_lifespan%>`

                  )">Modifier</button>
                  <button onclick="deleteTree('<%= tree.id %>')">Supprimer</button>
                </td>
              </tr>

              <% }) %>

          </tbody>

        </table>
      </div>
      <%- include('./partials/modals-updateTree.ejs') %>
        <%- include('./partials/modals-createTree.ejs') %>
    </main>