<div class="modal hidden modal-form modal-tree edit-tree-modal" id="editTreeModal-<%= tree.id %>">
  <div class="modal-content modal-content-tree">
    <h2>Modifier l'Arbre #<%= tree.id %>
    </h2>
    <form class="modal-form" id="editTreeForm-<%= tree.id %>">
      <input type="number" disabled id="editTreeId-<%= tree.id %>" name="id" value="<%- tree.id %>">

      <div>
        <label for="editTreeName">Nom :</label>
        <input type="text" id="editTreeName-<%= tree.id %>" name="name" value="<%- tree.name %>" required>
      </div>
      <div>
        <label for="editTreePriceHt">Prix HT :</label>
        <input type="number" id="editTreePriceHt-<%= tree.id %>" name="price_ht" step="0.01"
          value="<%- tree.price_ht %>">
      </div>
      <div>
        <label for="editTreeQuantity">Quantité :</label>
        <input type="number" id="editTreeQuantity-<%= tree.id %>" name="quantity" value="<%- tree.quantity %>">
      </div>
      <div>
        <label for="editTreeAge">Âge (années) :</label>
        <input type="number" id="editTreeAge-<%= tree.id %>" name="age" value="<%- tree.age %>">
      </div>
      <div>
        <label for="editTreeSpecies">Espèce :</label>
        <input type="text" id="editTreeSpecies-<%= tree.id %>" name="species_name"
          value="<%- tree.species.species_name %>" required>
      </div>
      <div>
        <label for="editTreeDescription">Description :</label>
        <textarea id="editTreeDescription-<%= tree.id %>" name="description"
          required><%- tree.species.description %></textarea>
      </div>
      <div>
        <label for="editTreeCo2Absorption">Absorption de CO2 :</label>
        <input type="number" id="editTreeCo2Absorption-<%= tree.id %>" name="co2_absorption"
          value="<%- tree.species.co2_absorption %>">
      </div>
      <div>
        <label for="editTreeAverageLifespan">Durée de vie moyenne :</label>
        <input type="number" id="editTreeAverageLifespan-<%= tree.id %>" name="average_lifespan"
          value="<%- tree.species.average_lifespan %>">
      </div>

      <div class="edit_modal_button">
        <button class="save button" type="submit" data-action="editTree" data-tree-id="<%= tree.id %>">Enregistrer les
          modifications</button>
        <button data-action="hideEditTreeModal" data-tree-id="<%= tree.id %>" class="cancel button"
          type="button">Annuler</button>
      </div>
    </form>
  </div>
</div>