<div id="deleteTreeModal-<%= tree.id %>" class=" delete_modal modal hidden">
  <div class="modal-content">
    <h2>Confirmer la suppression</h2>
    <p>Êtes-vous sûr de vouloir supprimer l'arbre <%= tree.id %> : <%= tree.name %> ?</p>
    <div>
      <button id="confirmDeleteButton-<%= tree.id %>" data-tree-id="<%= tree.id %>" class="delete button"
        data-action="deleteTree">Supprimer</button>
      <button data-action="hideDeleteTreeModal" data-tree-id="<%= tree.id %>" class="cancel button">Annuler</button>
    </div>
  </div>
</div>