<div id="editModal" class="modal hidden edit-campaign-modal">
  <div class="modal-content">
    <h2>Modifier la campagne</h2>

    <form id="editForm" onsubmit="editCampaign(event)" class="modal-form">

      <div>
        <label for="editId">ID :</label>
        <input type="number" id="editId" name="id" disabled>
      </div>

      <div>
        <label for="editName">Nom :</label>
        <input type="text" id="editName" name="name">
      </div>
      <div>
        <label for="editDescription">Description :</label>
        <input type="text" id="editDescription" name="description">
      </div>
      <div>
        <label for="editStartCampain">Date de début :</label>
        <input type="date" id="editStartCampain" name="start_campaign">
      </div>
      <div>
        <label for="editEndCampain">Date de fin :</label>
        <input type="date" id="editEndCampain" name="end_campaign">
      </div>
      <div>
        <label for="editLocation">Emplacement</label>
        <input type="text" id="editLocation" name="campaign.location.name_location">
      </div>
      <div>
        <label for="editCountry">Pays</label>
        <input type="text" id="editCountry" name="campaign.location.country_name">
      </div>

      <div class="modal-form_trees">
        <label>
          <h3 class="modal-form_trees-title">Arbres disponibles</h3>
        </label>
        <div class="trees-options">
          <% trees.forEach(tree=> { %>
            <div class="tree-option">
              <h3>
                <%= tree.name %>
              </h3>
              <label>
                <input type="radio" data-tree-id="<%= tree.id %>" name="tree_<%= tree.id %>" value="include">
                <span class="choiceTree">Inclus</span>
              </label>
              <label>
                <input type="radio" data-tree-id="<%= tree.id %>" name="tree_<%= tree.id %>" value="exclude" checked>
                <span class="choiceTree">Exclus</span>
              </label>
            </div>
            <% }) %>
        </div>
      </div>
      <div class="edit_modal_button">

        <button class="save button" type="submit">Enregistrer les modifications</button>
        <button type="button" onclick="hideEditCampaignModal()" class="cancel button">Annuler</button>
      </div>
    </form>
  </div>
</div>