<div id="createModal" class="modal hidden create-campaign-modal">
  <div class="modal-content">
    <h2>Créer une nouvelle campagne</h2>

    <form id="createForm" onsubmit="createCampaign(event)" class="modal-form">
      <div class="modal-form_campaign">
        <div>
          <label for="createName">Nom :</label>
          <input type="text" id="createName" name="name" required>
        </div>
        <div>
          <label for="createDescription">Description :</label>
          <input type="text" id="createDescription" name="description">
        </div>
        <div>
          <label for="createStartCampain">Date de début :</label>
          <input type="date" id="createStartCampain" name="start_campaign">
        </div>
        <div>
          <label for="createEndCampain">Date de fin :</label>
          <input type="date" id="createEndCampain" name="end_campaign">
        </div>
        <div>
          <label for="createLocation">Emplacement</label>
          <input type="text" id="createLocation" name="campaign.location.name_location" required>
        </div>
        <div>
          <label for="createCountry">Pays</label>
          <input type="text" id="createCountry" name="campaign.location.country_name" required>
        </div>
      </div>

      <div class="modal-form_trees">
        <label>
          <h3 class="modal-form_trees-title">Arbres disponibles</h3>
        </label>
        <div class="trees-options">
          <% trees.forEach(tree=> { %>
            <div class="tree-option">
              <h3>
                <%= tree.name %>
              </h3>
              <label>
                <input type="radio" data-tree-id="<%= tree.id %>" name="tree_<%= tree.id %>" value="include">
                <span class="choiceTree">Inclus</span>
              </label>
              <label>
                <input type="radio" data-tree-id="<%= tree.id %>" name="tree_<%= tree.id %>" value="exclude" checked>
                <span class="choiceTree">Exclus</span>
              </label>
            </div>
            <% }) %>
        </div>
      </div>
      <div class="create_modal_button">

        <button class="save button" type="submit">Créer la campagne</button>
        <button type="button" onclick="hideCreateCampaignModal()" class="cancel button">Annuler</button>
      </div>
    </form>
  </div>
</div>