<div id="editModal" class="modal hidden edit-campaign-modal">
  <div class="modal-content">
    <h2>Modifier la campagne</h2>
    <form id="editForm" class="modal-form">
      <input type="hidden" id="editId" name="id" value="<%= campaign.id %>">

      <label for="editName">Nom :</label>
      <input type="text" id="editName" name="name" value="<%= campaign.name || '' %>">

      <label for="editDescription">Description :</label>
      <input type="text" id="editDescription" name="description" value="<%= campaign.description || '' %>">

      <label for="editStartCampain">Date de début :</label>
      <input type="date" id="editStartCampain" name="start_campaign"
        value="<%= campaign.start_campaign ? new Date(campaign.start_campaign).toISOString().split('T')[0] : '' %>">

      <label for="editEndCampain">Date de fin :</label>
      <input type="date" id="editEndCampain" name="end_campaign"
        value="<%= campaign.end_campaign ? new Date(campaign.end_campaign).toISOString().split('T')[0] : '' %>">

      <label for="editLocation">Emplacement :</label>
      <input type="text" id="editLocation" name="location[name_location]"
        value="<%= campaign.location.name_location || '' %>">

      <label for="editCountry">Pays :</label>
      <input type="text" id="editCountry" name="location[country][name]"
        value="<%= campaign.location.country.name || '' %>">

      <div id="editTreesContainer">
        <h3>Arbres associés</h3>
        <% trees.forEach(tree=> { %>
          <div>
            <label>
              <input type="radio" name="tree_<%= tree.id %>" value="include" data-tree-id="<%= tree.id %>">
              Inclus
            </label>
            <label>
              <input type="radio" name="tree_<%= tree.id %>" value="exclude" checked>
              Exclus
            </label>
          </div>
          <% }) %>
      </div>

      <button type="submit" class="save button">Enregistrer les modifications</button>
      <button type="button" id="cancelEditButton" class="cancel button">Annuler</button>
    </form>
  </div>
</div>