<div id="editModal" class="modal hidden">
  <div class="modal-content">
    <h2>Modifier la campagne</h2>

    <form id="editForm" onsubmit="editCampaign(event)" class="modal-form">

      <div>
        <label for="editId">ID :</label>
        <input type="number" id="editId" name="id" disabled>
      </div>

      <div>
        <label for="editName">Nom :</label>
        <input type="text" id="editName" name="name">
      </div>
      <div>
        <label for="editDescription">Description :</label>
        <input type="text" id="editDescription" name="description">
      </div>
      <div>
        <label for="editStartCampain">Date de début :</label>
        <input type="date" id="editStartCampain" name="start_campaign">
      </div>
      <div>
        <label for="editEndCampain">Date de fin :</label>
        <input type="date" id="editEndCampain" name="end_campaign">
      </div>
      <div>
        <label for="editLocation">Emplacement</label>
        <input type="text" id="editLocation" name="campaign.location.name_location">
      </div>
      <div>
        <label for="editCountry">Pays</label>
        <input type="text" id="editCountry" name="campaign.location.country_name">
      </div>

      <div class="modal-form_trees">
        <label>Arbres disponibles</label>
        <div class="trees-options">
          <% trees.forEach(tree=> { %>
            <div class="tree-option">
              <span>
                <%= tree.name %>
              </span>


              <label>
                <input type="radio" id="includeTree_<%= tree.id %>" name="tree_<%= tree.id %>" value="include">
                Inclus
              </label>

              <label>
                <input type="radio" id="excludeTree_<%= tree.id %>" name="tree_<%= tree.id %>" value="exclude" checked>
                Exclus
              </label>
            </div>
            <% }) %>
        </div>
        <div class="edit_modal_button">

          <button class="save" type="submit">Enregistrer les modifications</button>
          <button type="button" onclick="hideEditCampaignModal()" class="cancel">Annuler</button>
        </div>
    </form>
  </div>
</div>