<nav>
  <div>
    <a href="<%= baseUrl %>/admin/home">

      <img src="<%= staticPath %>/img/Logo_principal.webp" alt="logo Greenroots">
    </a>
  </div>
  <ul>
    <li><a href="<%= baseUrl %>/admin/home">Dashboard</a></li>
    <li><a href="<%= baseUrl %>/admin/users">Utilisateurs</a></li>
    <li><a href="<%= baseUrl %>/admin/campaigns">Campagnes</a></li>
    <li><a href="<%= baseUrl %>/admin/trees">Arbres</a></li>
    <li><a href="<%= baseUrl %>/admin/orders">Commandes</a></li>
    <li><a href="<%= baseUrl %>/admin/reviews">Avis d'utilisateurs</a></li>
  </ul>

  <form action="<%= baseUrl %>/admin/logout" method="post" class="form_logout">
    <button type="submit">Déconnexion</button>
  </form>

</nav>